.about {
  padding: 4rem 2rem;

  .about-logo {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .about-title-english {
    font-size: 1rem;
  }

  .about-section {
    max-width: 500px;

    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  .about-intro {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about-section-title {
    margin-bottom: 1rem;

    strong {
      color: var(--primary-color);
    }
  }

  .about-section-content {
    p {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }

  .about-quote {
    margin: 2em 0;
  }

  .about-questions {
    padding-left: 1rem;
    margin: 1rem 0;

    .about-question {
      list-style-type: none;
      position: relative;

      &:before {
        position: absolute;
        font-size: 1.5rem;

        content: "»";
        left: -1rem;
        top: -3px;
        line-height: 1;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  .about-last-updated {
    color: var(--text-color-gray);
    font-size: 0.75rem;
    font-style: italic;
  }
}
