#home {
  .home-inner {
    list-style: none;
    padding: 2rem;
  }

  img {
    width: 100%;
  }

  .article {
    &:not(:last-child) {
      margin-bottom: 8rem;
    }
  }

  .article-title {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
  }

  .article-subtitle {
    font-size: 1rem;
    color: gray;
  }

  .article-subinfo {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-gray);
    font-size: 0.8rem;
    gap: 8px;
  }

  .article-date {
    font-family: monospace;
    flex-shrink: 0;
  }

  .article-content {
    -webkit-line-clamp: 10;
    line-clamp: 10;
    overflow: hidden;

    margin: 4rem 0;

    h1,
    h2,
    h3 {
      font-size: 1rem;
    }
  }

  .page-navigation {
    margin: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
