/* @import "~normalize.css"; */
@import "open-color/open-color.css";

html {
  --font-family: "Pretendard Variable", "Apple SD Gothic Neo",
    "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum,
    sans-serif;

  --text-color: var(--oc-gray-8);
  --text-color-gray: var(--oc-gray-6);

  --bg-gray: var(--oc-gray-0);
  --bg-gray-dark: var(--oc-gray-1);

  --divider-color: var(--oc-gray-4);
  --border-color-dark: var(--oc-gray-8);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

body,
a,
div,
span,
small,
time,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

body,
a,
div,
span,
small,
time,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  transition: color 0.1s ease, font-weight 0.1s ease;

  color: var(--oc-green-8);
  text-decoration-style: dotted;
  text-underline-offset: 4px;

  &:hover {
    color: var(--oc-teal-8);
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

hr {
  margin: 48px 0;
  border: 0;
  border-top: 1px solid var(--oc-gray-5);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

form[action$="destroy"] button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}

@keyframes progress {
  0% {
    background: #e3e3e3;
  }
  50% {
    background: hsla(224, 98%, 58%, 0.5);
  }
  100% {
    background: #e3e3e3;
  }
}

#detail {
  flex: 1;
  width: 100%;
  height: 100%;

  display: flex;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

#detail img {
  width: 100%;
}

#index-page {
  margin: 2rem auto;
  text-align: center;
  color: #818181;
}

#index-page a {
  color: inherit;
}

#index-page a:hover {
  color: #121212;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
