#sidebar {
  position: relative;
  overflow-y: auto;
  height: 100%;
  flex: 0 0 320px;

  background-color: var(--oc-orange-0);
  border-right: solid 1px var(--divider-color);
  display: flex;
  flex-direction: column;

  --item-padding: 0.5rem;

  .sidebar-group-home {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--oc-orange-0);
  }

  .sidebar-about-link {
    color: var(--text-color-gray);
  }

  .sidebar-title {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .sidebar-title-subtext {
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
    color: var(--primary-color);
  }

  .sidebar-about {
    cursor: help;
  }

  .sidebar-content {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebar-group {
    padding: 2rem 0.5rem 1rem 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--divider-color);
    }
  }

  .sidebar-group-title {
    font-size: 16px;
  }

  .sidebar-group-item-list {
    width: 100%;
    margin: 0.25rem 0;
  }

  .sidebar-group-item {
    width: 100%;

    padding: 4px;
    margin: 0 -4px;
    list-style: none;
  }

  .sidebar-group-item-link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    column-gap: 8px;

    width: 100%;
    white-space: pre;
    word-break: keep-all;

    color: var(--text-color);
    text-decoration: none;
  }

  .sidebar-group-item-link-active {
    font-weight: 700;
    color: var(--primary-color);
  }

  .sidebar-group-item-subtext {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--text-color-gray);
    font-family: monospace;
  }
}

.sidebar-logo-wrapper {
  display: none;

  appearance: none;
  padding: 4px;
}

.sidebar-logo {
  width: 32px;
  height: 32px;
  transform: scaleX(-1);
  transition: transform 0.15s ease-in-out;
}

@media (--mobile) {
  .sidebar-logo-wrapper {
    z-index: 1;

    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .sidebar-logo-wrapper-expanded {
    background: transparent;

    .sidebar-logo {
      transform: rotate(-180deg);
    }
  }

  #sidebar {
    display: none;

    &.sidebar-is-expanded {
      z-index: 1;

      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      /* FIXME: 상태 컨텍스트로 올리고 #main-content 스타일 정의에서 처리 */
      & ~ #main-content {
        overflow: hidden;
      }
    }

    .sidebar-group {
      padding-right: 1rem;
    }

    .sidebar-title {
      font-size: 1rem;

      display: flex;
      flex-direction: row;
      align-items: flex-end;

      gap: 4px;
    }

    .sidebar-title-subtext {
      display: inline-block;
    }

    .sidebar-group-home {
      gap: 4px;
    }

    .sidebar-group-item-list-mobile-row {
      display: flex;
      flex-direction: row;
    }
  }
}
