#article {
  width: 100%;
  height: 100%;

  padding: 2rem 4rem;
  overflow-y: auto;
}

#article #article-title {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  position: sticky;
  top: -2rem;

  background-color: white;
}

#article #article-subtitle {
  color: gray;
}
