#article {
  width: 100%;
  padding: 2rem 2rem 2rem;

  img {
    width: 100%;
  }

  .sentinel {
    height: 0;
    visibility: hidden;
  }

  .article-title {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: sticky;
    top: 0;
    transition: all 0.1s ease-out;

    font-size: 2rem;
    letter-spacing: -0.04rem;

    @media (--mobile) {
      & {
        font-size: 1rem;
      }
    }
  }

  .article-title-stuck {
    padding: 1rem 0;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
  }

  .article-subtitle {
    font-size: 1rem;
    color: gray;
  }

  .article-subinfo {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-gray);
    font-size: 0.8rem;
    gap: 8px;
  }

  .article-date {
    font-family: monospace;
    flex-shrink: 0;
  }

  .article-content {
    margin: 4rem 0;
  }
}
